:root {
    --primary-color: #FFF;
    --secondary-color: #D0D6F9;
    --tertiary-color: #0B0D17;
    --background-color: #f2f2f2;
    --text-color: #333333;
    --default-font-family: 'Arial', sans-serif;
    --title-font-family: 'Bellefair', sans-serif;
    --subtitle-font-family: 'Barlow Condensed', sans-serif;
    --text-font-family: 'Barlow', sans-serif;
  }

