body {
    margin: 0;
    padding: 0;
    background-color: #0B0D17;
    background-image: url('../../assets/images/crew/background-crew-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.crew-presentation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
    grid-template-areas:
    "number"
    "image"
    "separator"
    "menu"
    "title"
    "subtitle"
    "text";
}

.number { grid-area: number; }
.image { grid-area: image; }
.separator { grid-area: separator; }
.menu { grid-area: menu; }
.title { grid-area: title; }
.subtitle { grid-area: subtitle; }
.text { grid-area: text; }

.pick-crew {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.312rem;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
}

h1 {
    font-size: 1rem;
    color: var(--primary-color);
    font-family: var(--subtitle-font-family);
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0.16rem;
    font-weight: 100;
    margin: 0.5rem;
}

span {
    font-family: var(--subtitle-font-family);
    font-size: 1rem;
    color: var(--secondary-color);
    letter-spacing: 0.16rem;
}

.crew-image {
    height: 15.937rem;
    margin-left: auto;
    margin-right: auto;
}

.separator {
    background-color: var(--text-color);
    color: #979797;
    width: 85%;
    margin-top: -0.5rem;
}

.crew-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
    gap: 1rem;
}

.crew-list {  
    font-size: 1.3rem;
    color: var(--secondary-color); 
    font-family: var(--subtitle-font-family);
    text-transform: uppercase;
    line-height: 190%;
    font-weight: 100;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.crew-list:hover, .crew-list.active {   
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--tertiary-color); 
}

.crew-fonction, .crew-name{
    font-family: var(--title-font-family);
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0.16rem;
    font-weight: 100;
    margin: auto;
}

.crew-fonction {
    font-size: 1rem;
    color: var(--text-secondary-color);
}

.crew-name {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.crew-description {
    font-family: var(--text-font-family);
    font-size: 0.937rem;
    color: var(--secondary-color);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.5rem
}

@media (min-width: 47.9rem) and (max-width: 64rem) { 
    body {
        background-color: #0B0D17;
        background-image: url('../../assets/images/crew/background-crew-tablet.jpg');
    }
    .crew-presentation {
        grid-template-areas:
        "number"
        "title"
        "subtitle"
        "text"
        "menu"
        "image"
        "separator";
        grid-template-columns: auto 1fr;
    }
    .pick-crew {
        justify-content: start;
        margin-left: 3rem;
    }
    h1, span {
        font-size: 1.25rem;
    }
    .separator {
       width: 65%;
    }
    .crew-fonction {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .crew-name {
        font-size: 2.5rem;
        margin-top: 0.5rem;
    }
    .crew-description {
        font-size: 1rem;
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .crew-nav {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }
    .crew-image {
        height: 31.937rem;
    }
}

@media only screen and (min-width: 65rem) {
    body {
        background-color: #0B0D17;
        background-image: url('../../assets/images/crew/background-crew-desktop.jpg');
    }
    h1, span {
        font-size: 1.75rem;
    }
    .crew-presentation {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "number image"
        "title image"
        "subtitle image"
        "text image"
        "menu image";
        grid-column-gap: 10.875rem;
        align-items: start;  
    }
    .image {
        height: 35.937rem;
        justify-self: start;
        align-self: start;
    }
    .separator {
        display: none;
    }
    .crew-fonction, .crew-name, .crew-description {
        margin-left: 11.5rem;
    }
    .crew-presentation .crews-menu {
        display: block;
    }
    .crew-nav {
        margin-left: -4rem;
    }
    .crew-fonction {
        font-size: 2rem;
        margin-bottom: -0.5rem;
    }
    .crew-name {
        font-size: 3.5rem;
    }
    .crew-description {
        font-size: 1.125rem;
        text-align: left;
    }
    
}