body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #0B0D17;
    background-image: url(../../assets/images/destinations/background-destination-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.destination-presentation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
}

.pick-destination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.312rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1rem;
    color: var(--primary-color);
}

span {
    font-family: var(--subtitle-font-family);
    font-size: 1rem;
    color: var(--secondary-color);
    letter-spacing: 0.16rem;
}

h1, li:not(.listMenu-md) {
    font-family: var(--subtitle-font-family);
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0.16rem;
    font-weight: 100;
    margin: 0.5rem;
}

.destination-image {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.grid-right {
    display: flex;
    flex-direction: column;
}

.destination-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 0.312rem;
    margin: auto;
}

.destination-list {   
    font-size: 0.875rem;
    font-weight: 400 !important;
    color: var(--secondary-color);
    cursor: pointer;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.destination-list:hover, .destination-list.active {   
    font-weight: 700;
    border-bottom: 4px solid var(--primary-color);
    text-shadow: none;
}

.destination-name {
    font-family: var(--title-font-family);
    font-size: 3.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0.16rem;
    font-weight: 100;
    margin: auto;
    margin-top: 1rem;
}

.destination-description {
    font-family: var(--text-font-family);
    font-size: 0.937rem;
    color: var(--secondary-color);
    margin: 0 2rem;
    text-align: center;
    line-height: 1.5rem
}

.separator {
    background-color: var(--text-color);
    color: #979797;
    width: 85%;
    margin: 1.5rem;
}

.destination-sub-presentation { 
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.destination-distance, .destination-timetravel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.destination-info {
    font-family: var(--text-font-family);
    font-size: 0.875rem;
    font-weight: 100;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 0.16rem;
}

.distance-info, .time-info {
    font-family: var(--title-font-family);
    font-size: 1.75rem;
    font-weight: 100;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    margin: auto;
}

@media (min-width: 47.9rem) and (max-width: 64rem) { 
    body {
        background-color: #0B0D17;
        background-image: url('../../assets/images/destinations/background-destination-tablet.jpg');
        @media (min-height: 73rem) {
            height: 100vh;
        }
    }
    .pick-destination {
        justify-content: start;
        margin-left: 3rem;
    }
    h1, span {
        font-size: 1.25rem;
    }
    span {
        margin-bottom: 0.2rem;
    }
    .destination-image {
        width: 30%;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .destination-list {
        font-size: 1rem;
    }
    .destination-name {
        font-size: 5rem;
        margin-top: 2rem;
    }
    .destination-description {
        font-size: 1rem;
        margin: 1rem 9rem;
    }
    .separator {
        margin: 3.5rem;
    }
    .destination-sub-presentation { 
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 3rem;
    }
}

@media only screen and (min-width: 65rem) {
    body {
        background-color: #0B0D17;
        background-image: url('../../assets/images/home/background-home-desktop.jpg');
    }
    h1, span {
        font-size: 1.75rem;
    }
    span {
        margin-bottom: 0;
    }
    main {
        margin-bottom: 3rem;
    }
    .destination-presentation {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "title title"
            "left right";
        grid-column-gap: 1.875rem;    
    }
    .pick-destination {
        grid-area: title;
        justify-content: flex-start;
        margin-left: 10rem;
        margin-bottom: 3rem;
    }
    .destination-image {
        grid-area: left;
        width: 65%;
        margin-left: 7rem;
    }
    .grid-right {
        grid-area: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .destination-list {
        font-size: 1rem;
    }
    .destination-name, .destination-description, .time-info {
        margin-left: 0;
    }
    .destination-description, .destination-timetravel, .destination-distance {
        text-align: left;
    }
    .destination-name {
        font-size: 6.25rem;
    }
    .destination-description {
        font-size: 1.125rem;
        margin-right: 6.5rem;
    }
    .separator {
        margin-left: 0;
        margin-bottom: 3rem;
    }
    .destination-sub-presentation {
        flex-direction: row;
        gap: 5rem;
    }
}

@media only screen and (min-width: 109rem){
    .destination-image {
        width: 40%;
    }  
}