.sr-only {
    position: absolute; 
    left: -9999px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.logo-agency {
    width: 2.5rem;
    height: 2.5rem;
}

#openHamburgerBtn, #closeHamburgerBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu {
    position: fixed; 
    top: 0; 
    right: -80%; 
    width: 70%;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 1000; 
    background-color: var(--primary-color);
}

#menu.active {
    right: 0;
}

#closeHamburgerBtn {
    position: absolute;
    top: 2rem;
    right: 10%;
}

#menu ul {
    list-style-type: none;
    padding-top: 6rem;
    padding-left: 2rem;
    margin: 0;
}

li {
    line-height: 3rem;
}

li:nth-child(2) span {
    margin-right: 0.18rem;
}

.navNumber, .navSubMenu {
    color: var(--tertiary-color);
    font-family: var(--subtitle-font-family);
    font-size: 1rem;
    letter-spacing: 0.16rem;
    cursor: pointer;
}

.navNumber {
    font-weight: 700;
}

.navSubMenu  {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.navSubMenu .number {
    display: none;
}

li:hover {
    transform: scale(1.05);
}

.listMenu-md.active {
    a {
        font-weight: 700;
    }
}

@media (min-width: 47.9rem) {
    .number{
        font-family: var(--subtitle-font-family);
        font-size: 1rem;
        font-weight: 700;
        color: var(--primary-color);
        padding-right: 0.5rem;
    }
}

@media (min-width: 47.9rem) and (max-width: 63rem) {
    .header {
        margin: 1rem 2rem;
    }
    .logo-agency {
        width: 3rem;
        height: 3rem;
    }
    .menu{
        display: block;
        position: static;
    }
    .listMenu-md {
        display: inline-block;
        margin-right: 2rem;
    }
    .listMenu-md:last-child {
        padding-right: 0;
    }
    .listMenu-md:hover, .listMenu-md.active {
        font-size: 1.2rem;
        border-bottom: 4px solid var(--primary-color);
        a {
            font-weight: 100;
        }
    }
    .navSubMenu {
        color: var(--primary-color);
        font-weight: 100;
    }
}

@media only screen and (min-width: 64rem) {
    .navNumber, #closeHamburgerBtn, .menu {
        display: none;
    }
    .header {
        align-items: flex-start;
        margin: 2rem 3rem;
        margin-right: 0;
    }
    .logo {
        margin-top: 0.7rem;
    }
    .logo-agency {
        width: 3.5rem;
        height: 3.5rem;
    }
    #menu {
        display: flex;
        position: static;
        height: 5.06rem;
        width: 70%;
        backdrop-filter: blur(81.55px);
        background-color: transparent;
        transition: none;
        z-index: 0;
    }
    .listMenu-md {
        display: inline-block;
    }
    .listMenu-md:last-child {
        padding-right: 0;
    }
    .listMenu-md:hover, .listMenu-md.active {
        font-size: 1.2rem;
        border-bottom: 4px solid var(--primary-color);
        a {
            font-weight: 100;
        }
    }
    #menu ul {
        display: flex;
        justify-content: center;
        gap: 2.18rem;
        padding-top: 0;
        padding-left: 0;
        margin: auto;
    }
    .navSubMenu {
        color: var(--primary-color);
        font-weight: 100;
    }
}