body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/technology/background-technology-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.technology-presentation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
}

.pick-technology {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.312rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1rem;
    color: var(--primary-color);
    font-family: var(--subtitle-font-family);
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0.16rem;
    font-weight: 100;
    margin: 0.5rem;
}

span {
    font-family: var(--subtitle-font-family);
    font-size: 1rem;
    color: var(--secondary-color);
    letter-spacing: 0.16rem;
}

.technology-image {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.technology-menu {
    margin-top: 2rem;
}

.technology-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
    gap: 2rem;
}

.technology-list {  
    font-size: 1.3rem;
    color: var(--secondary-color); 
    font-family: var(--subtitle-font-family);
    line-height: 190%;
    font-weight: 100;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    width: 2.5rem;
    height: 2.5rem;
}

.technology-list:hover, .technology-list.active {   
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--tertiary-color); 
}

.grid-left-description {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.technology-subtitle, .technology-name {
    line-height: normal;
    font-weight: 100;
    margin: auto;
    margin-top: 1rem;
}

.technology-subtitle {
    font-family: var(--subtitle-font-family);
    font-size: 1rem;
    color: var(--secondary-color);
    letter-spacing: 0.16rem;
}

.technology-name {
    font-family: var(--title-font-family);
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;

}

.technology-description {
    font-family: var(--text-font-family);
    font-size: 0.937rem;
    color: var(--secondary-color);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.5rem;
    text-transform: none;
}

@media (min-width: 47.9rem) and (max-width: 63rem) { 
    body {
        background-image: url('../../assets/images/technology/background-technology-tablet.jpg');
        overflow: hidden;
    }
    .pick-technology {
        justify-content: start;
        margin-left: 3rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    h1, span {
        font-size: 1.25rem;
    }
    .technology-nav {
        gap: 1rem;
    }
    .technology-list {
        line-height: 230%;
        width: 3.5rem;
        height: 3.5rem;
    }
    .technology-name {
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    .technology-description {
        font-size: 1rem;
        margin-left: 9rem;
        margin-right: 9rem;
    }
}

@media (min-width: 64rem) and (max-width: 69rem) and (max-height:85rem){ 
    body {
        background-image: url('../../assets/images/technology/background-technology-desktop.jpg');
        overflow: hidden;
    }
    h1, span {
        font-size: 1.70rem;
    }
    .technology-presentation {
        margin-left: 7rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "title title"
        "left right";
        grid-column-gap: 1.875rem;
    }
    .pick-technology {
        justify-content: flex-start;
    }
    .technology-image {
        width: auto;
        height: 70%;
        grid-area: right;
        margin-top: 3rem;
    }
    .grid-left {
        grid-area: left;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 0;
    }
    .technology-nav {
        flex-direction: column;
        gap: 2rem;
    }
    .technology-list {
        line-height: 245%;
        width: 3.5rem;
        height: 3.5rem;
    }
    .grid-left-description {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        margin-left: 2rem;
        gap: 1rem;
    }
    .technology-subtitle, .technology-name, .technology-description {
        margin: 0;
    }
    .technology-name {
        font-size: 2.5rem;
    }
    .technology-description {
        text-align: justify;
        font-size: 1rem;
        margin-right: 0;
    }
}

@media only screen and (min-width: 70rem) {
    body {
        background-image: url('../../assets/images/technology/background-technology-desktop.jpg');
        overflow: hidden;
    }
    h1, span {
        font-size: 1.75rem;
    }
    .technology-presentation {
        margin-left: 10rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "title title"
        "left right";
        grid-column-gap: 1.875rem;
    }
    .pick-technology {
        justify-content: flex-start;
    }
    .technology-image {
        width: auto;
        height: 85%;
        grid-area: right;
    }
    .grid-left {
        grid-area: left;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 2rem;
    }
    .technology-nav {
        flex-direction: column;
        gap: 2rem;
    }
    .technology-list {
        line-height: 245%;
        width: 3.5rem;
        height: 3.5rem;
    }
    .grid-left-description {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        margin-left: 2rem;
        gap: 1rem;
    }
    .technology-subtitle, .technology-name, .technology-description {
        margin: 0;
    }
    .technology-name {
        font-size: 3.5rem;
    }
    .technology-description {
        text-align: justify;
        font-size: 1.125rem;
        margin-right: 4rem;
    }
}